/*  your css code here. If applicable */

.hero{
	display:flex;
	justify-content:space-between;
    align-item:center;
}

.imgcontainer{
	width:60%;
	height:60vh;
	
}

img{
	width:100%;
	height:100%;
	object-fit:cover;
}

button{
	background-color:red;
	color:white;
	padding:10px;
	border-radius:5px;
}

.containt{
	width:30%;

}